<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="application.properties"></properties>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${spring.datasource.driver-class-name}"/>
                <property name="url" value="${spring.datasource.url}"/>
                <property name="username" value="${spring.datasource.username}"/>
                <property name="password" value="${spring.datasource.password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mapper/UserMapper.xml"/>
        <mapper resource="mapper/BookMapper.xml"/>
        <mapper resource="mapper/FollowMapper.xml"/>
        <mapper resource="mapper/BookRateMapper.xml"/>
        <mapper resource="mapper/BookCommentMapper.xml"/>
        <mapper resource="mapper/FavouriteMapper.xml"/>
        <mapper resource="mapper/TagMapper.xml"/>
        <mapper resource="mapper/GroupMapper.xml"/>
        <mapper resource="mapper/GroupFavouriteMapper.xml"/>
        <mapper resource="mapper/SubgroupMapper.xml"/>
        <mapper resource="mapper/SubgroupMemberMapper.xml"/>
        <mapper resource="mapper/SubgroupModuleMapper.xml"/>
        <mapper resource="mapper/SubgroupNoticeMapper.xml"/>
        <mapper resource="mapper/BookRecommendMapper.xml"/>
        <mapper resource="mapper/GroupMemberMapper.xml"/>
        <mapper resource="mapper/SubgroupVoteMapper.xml"/>
        <mapper resource="mapper/SubgroupVoteMemberMapper.xml"/>
    </mappers>
</configuration>