<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="capstone_project.ReadingForum_Backend.Dao.FollowDao">
    <select id="selectFollowing" resultType="int">
        select following_id from follow where follower_id=#{followerId}
    </select>

    <insert id="insert">
        insert into follow (follower_id, following_id) values (#{followerId}, #{followingId})
    </insert>

    <delete id="delete">
        delete from follow where follower_id=#{followerId} and following_id=#{followingId}
    </delete>
</mapper>