<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="capstone_project.ReadingForum_Backend.Dao.SubgroupDao">
    <select id="selectByName" resultType="capstone_project.ReadingForum_Backend.Model.Subgroup">
        select * from subgroup where name=#{subgroupName}
    </select>

    <select id="selectByGroupId" resultType="capstone_project.ReadingForum_Backend.Model.Subgroup">
        select * from subgroup where group_id=#{groupId}
    </select>

    <insert id="insert">
        insert into subgroup (name, time, group_id, frame_id, text) values (#{subgroupName}, CURDATE(), #{groupId}, #{frameId}, null)
    </insert>

    <insert id="insertWithText">
        insert into subgroup (name, time, group_id, frame_id, text) values (#{subgroupName}, CURDATE(), #{groupId}, #{frameId}, #{text})
    </insert>

    <update id="update">
        update subgroup set name=#{subgroupName} where id=#{subgroupId}
    </update>

    <delete id="delete">
        delete from subgroup where id=#{subgroupId}
    </delete>
</mapper>