<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="capstone_project.ReadingForum_Backend.Dao.UserDao">
    <select id="selectAll" resultType="capstone_project.ReadingForum_Backend.Model.User">
        select * from user where deleted=0
    </select>

    <select id="selectById" resultType="capstone_project.ReadingForum_Backend.Model.User">
        select * from user where id=#{id} and deleted=0
    </select>

    <select id="selectByUsername" resultType="capstone_project.ReadingForum_Backend.Model.User">
        select * from user where username=#{username} and deleted=0
    </select>

    <select id="selectFollowingByPage" resultType="capstone_project.ReadingForum_Backend.Model.User">
        select id,username,nickname,avatar from user where id in (select following_id from follow where follower_id=#{followerId}) and deleted=0 limit #{start},10
    </select>

    <select id="selectFollowingNum" resultType="int">
        select count(*) from follow where follower_id=#{followerId}
    </select>

    <select id="selectFollowerByPage" resultType="capstone_project.ReadingForum_Backend.Model.User">
        select id,username,nickname,avatar from user where id in (select follower_id from follow where following_id=#{followingId}) and deleted=0 limit #{start},10
    </select>

    <select id="selectFollowerNum" resultType="int">
        select count(*) from follow where following_id=#{followingId}
    </select>

    <insert id="insert">
        insert into user (username, password) values (#{username}, #{password})
    </insert>

    <update id="update">
        update user set password=#{password}, nickname=#{nickname}, avatar=#{avatar}, gender=#{gender}, birthday=#{birthday}, phone=#{phone}, email=#{email}, location=#{location}, bio=#{bio}, ban=#{ban}, deleted=#{deleted} where id=#{id}
    </update>
</mapper>